{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fake_accordian.css' %}">
</head>
<body>
    <div class="accordion">
        <div class="contentBx">
            <div class="label">List ONE</div>
            <div class="content">
                <p> jhbvcjudf rcjebvcerjbvef vjherbvjhe ver efv bjerhcverjc rejvcberbjcbhjerhr
                kjbjerbvjhffjk dfbvfbvdjfv dfvidfvkdfjv mdf vdkjfvkdfjvdf
                dfvbdfhvjdfmv dfv fjhvdf vndfvbusdn efjenriufrev erkjv</p>
            </div>
        </div>
        <div class="contentBx">
            <div class="label">List TWO</div>
            <div class="content">
                <p> jhbvcjudf rcjebvcerjbvef vjherbvjhe ver efv bjerhcverjc rejvcberbjcdkjfvnfdnv nfkjvfdkv
                dkfjbvjhdfbvdf vdfhvdf vdfk devbfdjv  jhr erf jerf erv nkjsd csj ,mavnlkdfv
                vdfnvuv vbiv erbvkjes veakjaerm er
                er vubhjerhr</p>
            </div>
        </div>
        <div class="contentBx">
            <div class="label">List ONE</div>
            <div class="content">
                <p> jhbvcjudf rcjebvcerjbvef vjherbvjhe ver efv bjerhcverjc rejvcberbjcbhjerhr
                kjbjerbvjhffjk dfbvfbvdjfv dfvidfvkdfjv mdf vdkjfvkdfjvdf
                dfvbdfhvjdfmv dfv fjhvdf vndfvbusdn efjenriufrev erkjv</p>
            </div>
        </div>
    </div>
    <script src="{% static 'js/accordion.js' %}"></script>
</body>
</html>