{% extends 'bbase.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accordian.css' %}">
{% endblock extra_css %}

{% block title %}{{department}}{% endblock title %}

{% block content %}
    <div class="accordion">
        <h1><center>Our Specialities</center></h1>
        {% for department in departments %}
            <div class="contentBx">
                <div class="label">{{department}}</div>
                <div class="content">
                    <p> {{department.about}}</p>
                    <a type="button" class="btn btn-primary btn-sm" href="{% url 'ddepartment' department.id %}">Doctors</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/accordion.js' %}"></script>

{% endblock content %}
