{% extends 'bbase.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock extra_css %}


{% block content %}

<!--footer-->
  <footer id="footer">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">About Us</h4>
            </div>
            <div class="info-sec">
              <p>Din ki rooti paani chal jaa, radhe ka naam muuh se nikal jaaye bss yahi chahiye.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Quick Links</h4>
            </div>
            <div class="info-sec">
              <ul class="quick-info">
                <li><a href="{% url 'home' %}"><i class="fa fa-circle"></i>Home</a></li>
                <li><a href="{% url 'departments' %}"><i class="fa fa-circle"></i>Book Appointment</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Follow us</h4>
            </div>
            <div class="info-sec">
              <ul class="social-icon">
                <li class="bglight-blue"><a href="https://www.instagram.com/56teekri/"><i class="fa fa-instagram"></a></i></li>
                <li class="bglight-blue"><a href="https://www.facebook.com/56teekri/"><i class="fa fa-facebook"></a></i></li>
                <li class="bglight-blue"><a href="https://www.twitter.com/roohkaapgayi"><i class="fa fa-twitter"></a></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-line">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            © Copyright WARDAAN TEAM
            <div class="credits">
              Designed by <a href="https://www.instagram.com/56teekri/">Sagar Kaushik</a><br>
              Designed by <a href="https://www.facebook.com/ruchit-tiwari/">Ruchit Tiwari</a><br>
              Designed by <a href="https://www.instagram.com/pulkitsuryavanshi/">Fulkit NoSuryavanshi</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!--footer-->

{% endblock content %}


