{% extends 'mbase.html' %}
{% load static %}

{% block content %}

<!--navabr starts-->
  <nav class="teal top-nav">
  <div class="nav-wrapper container">
    <a href="{% url 'home' %}" class="brand-logo">WARDAAN</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{% url 'dhome' %}">Doctors</a></li>
      <li><a href="{% url 'hhome' %}">Hospitals</a></li>
      <li><a href="{% url 'blogs' %}">Blogs</a></li>
      <li>
        <a
          href="#"
          class="dropdown-trigger white-text"
          data-target="account-menu">
        <i class="material-icons right">account_circle</i>{{user}}
        </a>
      </li>
    </ul>
    <!--Account Menu List-->
    <ul id="account-menu" class="dropdown-content">
      <li><a href="#">Profile</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="{% url 'login' %}">Logout</a></li>
    </ul>
  </div>
  </nav>
<!--navbar ends-->

<!--list of hsopitals-->
  <ul class="collapsible popout">
    {% for hospital in hospitals %}
        <li class="collection-item avatar">
          <div class="collapsible-header"><img src="https://lorempixel.com/100/190/nature/6" width="25" height="25" class="circle"> {{hospital}}</div>
          <div class="collapsible-body">
            <span>
                <a class="waves-effect waves-light btn-small" href="{% url 'book_appointment_hos' hospital.id %}">Book Appointment</a>
                <a class="waves-effect waves-light btn-small" href="{% url 'hos_profile' hospital.id %}">View Profile</a>
                <div class="secondary-content row">
                  <div class="col">
                    {{hospital.get_rating}}
                  </div>
                  <div class="col">
                    <i class="material-icons">grade</i>
                  </div>
                </div>
            </span>
          </div>
        </li>
    {% endfor %}
  </ul>
<!--list ends-->  

{% endblock content %}


{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/init.js' %}"></script>
  <script>
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
    </script>
{% endblock extra_js %}







