{% extends 'bbase.html' %}
{% load static %}

{% block extra_css %}
{% endblock extra_css %}


{% block content %}

<!-- Navbar starts -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">WARDAAN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'dhome' %}">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'hhome' %}">Hospitals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'departments' %}">Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'blogs' %}">Blogs</a>
        </li>
      </ul>
      <!--yha login/logout ka link buton daluga-->
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button">Profile</button>
        <button class="btn btn-primary" type="button">Logout</button>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar ends -->

<form action="" method="POST">
  {% csrf_token %}
  <div class="input-group container overflow-hidden">
    <input type="text" aria-label="First name" class="form-control" placeholder="Enter your city">
    <input type="text" aria-label="Last name" class="form-control" placeholder="Search doctors, hospitals ,etc">
    <button type="Submit" class="input-group-text">Search</button>
  </div>
</form>

<!--crousel starts-->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://lorempixel.com/100/190/nature/6"  width="1600" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://lorempixel.com/100/190/nature/6" width="1600" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://lorempixel.com/100/190/nature/6" width="1600" height="500" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!--crousel ends-->

<!--OUR SPECIALITY's-->
<div style="background-color:#ADD8E6;">
  <center><h1>Our Specialities</h1></center>
  <!--accordian starts-->
            <div class="accordion">
        <div class="contentBx">
            <div class="label">List ONE</div>
            <div class="content">
                <p> jhbvcjudf rcjebvcerjbvef vjherbvjhe ver efv bjerhcverjc rejvcberbjcbhjerhr
                kjbjerbvjhffjk dfbvfbvdjfv dfvidfvkdfjv mdf vdkjfvkdfjvdf
                dfvbdfhvjdfmv dfv fjhvdf vndfvbusdn efjenriufrev erkjv</p>
            </div>
        </div>
        <div class="contentBx">
            <div class="label">List TWO</div>
            <div class="content">
                <p> jhbvcjudf rcjebvcerjbvef vjherbvjhe ver efv bjerhcverjc rejvcberbjcdkjfvnfdnv nfkjvfdkv
                dkfjbvjhdfbvdf vdfhvdf vdfk devbfdjv  jhr erf jerf erv nkjsd csj ,mavnlkdfv
                vdfnvuv vbiv erbvkjes veakjaerm er
                er vubhjerhr</p>
            </div>
        </div>
    </div>
  <!--accordian ends-->
</div>
<!--SPECILAITY END-->
<br>
<!--Yha 2 frame bnaauga 1 frame mai picture hogi doctor ki and 2nd frame mai faaltu ka text hoga-->
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 40rem;">
        <img src="{% static 'images/appointment.jpg' %}" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-sm-6">
      <h2>Only the best for you</h2>
      <h4> faaltu ka text faaltu ka faaltu ka text faaltu ka faaltu ka text faaltu ka faaltu ka text faaltu ka faaltu ka text faaltu kafaaltu ka text faaltu kafaaltu ka text faaltu kafaaltu ka text faaltu kafaaltu ka text faaltu kafaaltu ka text faaltu kafaaltu ka text faaltu kafaaltu ka text faaltu kafaaltu ka text faaltu ka</h4>
    </div>
  </div>
</div>
<!--frame ends here-->

<!--yha top blogs aaegi trending topics kai form mai har topic ka 1 button hoga, topics like COVIS-19 symptoms,etc-->
<br>-->Trending Blogs kai button here
<br>
<br>
<br>
<br>
<!--yha trending blogs ends here-->

---> yha developer footer daal diyo
<br>
<br>
<br>
<br>

{% endblock content %}



{% block extra_js %}


{% endblock extra_js %}
