alembic==1.6.2
amqp==5.0.6
appdirs==1.4.4
arabic-reshaper==2.1.3
asgiref==3.2.10
asn1crypto==1.4.0
atomicwrites==1.4.0
attrs==21.2.0
billiard==3.6.4.0
black==21.5b1
bleach==3.3.0
c==0.0.1
celery==5.0.5
certifi==2020.6.20
cffi==1.14.2
cftime==1.4.1
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cloudinary==1.25.0
cmsplugin-accordion==0.2.2
colorama==0.4.4
config==0.5.0.post0
coreapi==2.3.3
coreschema==0.0.4
cpp==1.0.0.6
cryptography==3.1
cycler==0.10.0
decorator==5.0.9
defusedxml==0.7.1
Deprecated==1.2.12
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.1
django-allauth==0.44.0
django-cloudinary-storage==0.3.0
django-crispy-forms==1.11.2
django-elasticsearch-dsl==7.2.0
django-elasticsearch-dsl-drf==0.22.1
django-filter==2.3.0
django-form-utils==1.0.3
django-heroku==0.3.1
django-nine==0.2.4
django-rest-multiple-models==2.1.3
django-rest-swagger==2.2.0
django-static-jquery==2.1.4
django-timezone-field==4.1.2
django-widget-tweaks==1.4.8
djangorestframework==3.11.1
docutils==0.17.1
elasticsearch==7.12.1
elasticsearch-dsl==7.3.0
environs==9.3.2
fanstatic==1.1
filelock==3.0.12
Flask==2.0.0
future==0.18.2
greenlet==1.1.0
html5lib==1.1
idna==2.10
importlib-metadata==4.0.1
iniconfig==1.1.1
itsdangerous==2.0.0
itypes==1.2.0
Jinja2==2.11.2
joblib==1.0.1
js.jquery==3.3.1
jsonfield==3.1.0
jsonpath==0.82
keyring==23.0.1
kiwisolver==1.3.1
kombu==5.0.2
logger==1.4
Mako==1.1.4
Markdown==3.2.2
MarkupSafe==1.1.1
marshmallow==3.12.1
matlab==0.1
matplotlib==3.4.2
mongoengine==0.23.1
mypy-extensions==0.4.3
mysql-connector-python==8.0.25
mysqlclient==2.0.3
netCDF4==1.5.6
nexmo==2.5.2
nose==1.3.7
numpy==1.20.2
oauthlib==3.1.0
openapi-codec==1.3.2
packaging==20.9
pandas==1.2.4
pathspec==0.8.1
pbr==5.6.0
Pillow==8.2.0
pkginfo==1.7.0
pluggy==0.13.1
prompt-toolkit==3.0.18
psycopg2==2.8.6
psycopg2-binary==2.8.6
py==1.10.0
pycparser==2.20
Pygments==2.9.0
PyJWT==1.7.1
pymongo==3.11.4
pyparsing==2.4.7
PyPDF2==1.26.0
pytest==6.2.4
pytest-html==3.1.1
pytest-metadata==1.11.0
python-bidi==0.4.2
python-dateutil==2.8.1
python-decouple==3.4
python-dotenv==0.17.1
python-editor==1.0.4
python3-openid==3.2.0
pytz==2020.1
pywin32-ctypes==0.2.0
razorpay==1.2.0
readme-renderer==29.0
regex==2021.4.4
reportlab==3.5.67
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
scikit-learn==0.24.2
scipy==1.6.3
scss==0.8.73
seaborn==0.11.1
selenium==3.141.0
shutilwhich==1.1.0
simplejson==3.17.2
six==1.15.0
sql==0.4.0
SQLAlchemy==1.4.15
sqlparse==0.4.1
stevedore==3.3.0
threadpoolctl==2.1.0
toml==0.10.2
tox==3.23.1
tqdm==4.60.0
twine==3.4.1
uritemplate==3.0.1
urllib3==1.25.10
vine==5.0.0
virtualenv==20.4.6
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.7
Werkzeug==2.0.0
whitenoise==5.2.0
wrapt==1.12.1
xarray==0.18.1
xhtml2pdf==0.2.5
zipp==3.4.1
