{% extends 'bbase.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}Patient SignUp{% endblock title %}
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        username: {{uform.username}}<br>
        fname: {{uform.first_name}}<br>
        lname: {{uform.last_name}}<br>
        password: {{uform.password}}<br>
        confirm password: {{uform.confirm_password}}<br>
        email: {{uform.email}}<br>
        mobile: {{pform.mobile}}<br>
        gender: {{pform.gender}}<br>
        address: {{pform.address}}<br>
        city: {{pform.city}}<br>
        state: {{pform.state}}<br>
        DOB: {{pform.date_of_birth}}<br>
        <button type="submit">Submit</button>
    </form>

{% endblock content %}