{% extends 'bbase.html' %}
{% load static %}
{% block title %}Hospitals{% endblock title %}


{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/doclist.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock extra_css %}


{% block content %}
<!--navbar starts-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">WARDAAN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'dhome' %}">Doctors</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Departments
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% for department in departments %}
                <li><a class="dropdown-item" href="{% url 'particular_department' department.id %}">{{department}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blogs' %}">Blogs</a>
          </li>
        </ul>
      </div>
      {% if request.user.is_authenticated %}
        <div class="dropdown">
          <a class="btn btn-primary text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            {{user}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% if usertype.doc %}
              <li><a class="dropdown-item" href="{% url 'doc_profile' user.doctor.id %}">View Profile</a></li>
            {% elif usertype.hos %}
              <li><a class="dropdown-item" href="{% url 'hos_profile' user.hospital.id %}">View Profile</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{% url 'home' %}">View Profile</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="#">Edit Profile</a></li>
          </ul>
        </div>
      {% else %}
        <a type="button" class="btn btn-primary btn-sm text-white" href="{% url 'login' %}">login</a>
      {% endif %}
      {% if request.user.is_authenticated %}
        <a type="button" class="btn btn-primary btn-sm text-white" href="{% url 'logout' %}">logout</a>
      {% endif %}
    </div>
  </nav>
<!--navbar ends-->

<!--search hos according to city-->
  <form action="" method="POST">
    {% csrf_token %}
    <div class="input-group container overflow-hidden">
      {{ form.city }}
      {{form.hospital}}
      <button type="Submit" class="input-group-text">Search</button>
    </div>
  </form>
<!--search ends-->

<!--crousel starts-->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!--crousel ends-->

<!--about-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">WARDAAN <br>Ultimate Dream</h2>
            <hr class="botm-line">
            <p class="sec-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua..</p>
          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;" class="col-sm-9 more-features-box">
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3><a href="{% url 'comparison_hos' %}" class="text-dark" style="text-decoration:none">Comparison between Hospitals</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et. Ut wisi enim ad minim veniam, quis nostrud.</p>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Give the best hospital to you</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et. Ut wisi enim ad minim veniam, quis nostrud.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--about-->

<!--list of hospitals-->
  <section id="doctor-team" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">Meet Our Hospitals!</h2>
          <hr class="botm-line">
        </div>
        {% for hospital in hospitals %}
          <div class="member-entry"> 
              <a href="#" class="member-img"> 
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-rounded"> 
                  <i class="fa fa-forward"></i> 
              </a> 
              <div class="member-details"> 
                  <h4> <a href="{% url 'hos_profile' hospital.id %}">{{hospital}}</a> </h4> 
                  <div class="row info-list"> 
                    <div class="col-sm-4"> 
                        <i class="fa fa-bed"></i>
                          {{hospital.no_of_beds}}
                    </div> 
                    <div class="col-sm-4"> 
                            <i class="fa fa-phone"></i>
                                {{hospital.mobile}}
                    </div>
                    <div class="col-sm-4"> 
                            <i class="fa fa-star"></i>
                                {{hospital.get_rating}}
                    </div>
                    <div class="col-sm-4"> 
                            <i class="fa fa-location-arrow"></i>
                                {{hospital.address}}
                    </div> 
                    <div class="col-sm-4"> 
                            <i class="fa fa-rupee"></i>
                                {{hospital.fees}}
                    </div>
                    <div class="col-sm-4"> 
                          <a class="btn btn-primary" href="{% url 'ba_hos_direct' hospital.id %}" role="button">Book Appointment</a>
                    </div>
                  </div> 
              </div> 
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
<!--list ends-->


<!--footer-->
  <footer id="footer">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">About Us</h4>
            </div>
            <div class="info-sec">
              <p>Din ki rooti paani chal jaa, radhe ka naam muuh se nikal jaaye bss yahi chahiye.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Quick Links</h4>
            </div>
            <div class="info-sec">
              <ul class="quick-info">
                <li><a href="{% url 'home' %}"><i class="fa fa-circle"></i>Home</a></li>
                <li><a href="{% url 'departments' %}"><i class="fa fa-circle"></i>Book Appointment</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Follow us</h4>
            </div>
            <div class="info-sec">
              <ul class="social-icon">
                <li class="bglight-blue"><a href="https://www.instagram.com/56teekri/"><i class="fa fa-instagram"></a></i></li>
                <li class="bglight-blue"><a href="https://www.facebook.com/56teekri/"><i class="fa fa-facebook"></a></i></li>
                <li class="bglight-blue"><a href="https://www.twitter.com/roohkaapgayi"><i class="fa fa-twitter"></a></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-line">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            © Copyright WARDAAN TEAM
            <div class="credits">
              Designed by <a href="https://www.instagram.com/56teekri/">Sagar Kaushik</a><br>
              Designed by <a href="https://www.facebook.com/ruchit.tiwari.5/">Ruchit Tiwari</a><br>
              Designed by <a href="https://www.instagram.com/pulkitsuryavanshi/">Fulkit NoSuryavanshi</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!--footer-->

{% endblock content %}


{% block extra_js %}

<script>
  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });
</script> 


{% endblock extra_js %}



