{% extends 'mbase.html' %}
{% load static %}
{% block title %}Hospitals{% endblock title %}


{% block content %}

<!--navabr starts-->
  <ul id="dropdown1" class="dropdown-content">
    {% for department in departments %}
      <li><a href="{% url 'particular_department' department.id %}">{{department}}</a></li>
    {% endfor %}
  </ul>
  <nav class="teal top-nav">
  <div class="nav-wrapper container">
    <a href="{% url 'home' %}" class="brand-logo">WARDAAN</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Departments<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="{% url 'dhome' %}">Doctors</a></li>
      <li><a href="{% url 'blogs' %}">Blogs</a></li>
      <li>
        <a
          href="#"
          class="dropdown-trigger white-text"
          data-target="account-menu">
        <i class="material-icons right">account_circle</i>{{user}}
        </a>
      </li>
    </ul>
    <!--Account Menu List-->
    <ul id="account-menu" class="dropdown-content">
      <li><a href="#">Profile</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="{% url 'login' %}">Logout</a></li>
    </ul>
  </div>
  </nav>
<!--navbar ends-->

<!--search doc acc to hospital-->
  <form action="" method="POST">
    {% csrf_token %}
    <div class="input-group container overflow-hidden">
      {{ form.city }}
      {{form.hospital}}
      <button type="Submit" class="input-group-text">Search</button>
    </div>
  </form>
<!--search ends-->

<!--crousel starts-->
  <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2" href="{% url 'departments' %}">Find Me a Hospital</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRytJiDm4Z1lJCm5cVbEcAkdWBRrtMi7foylw&usqp=CAU">
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRytJiDm4Z1lJCm5cVbEcAkdWBRrtMi7foylw&usqp=CAU">
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJyFtb_fTX7GBrchNVOISyRrtTFwXTYYsPwg&usqp=CAU">
      <p class="white-text">This is your third panel</p>
    </div>
  </div>
<!--crousel ends-->


<!--list of hospitals-->
  <ul class="collapsible popout">
    {% for hospital in hospitals %}
        <li class="collection-item avatar">
          <div class="collapsible-header"><img src="https://lorempixel.com/100/190/nature/6" width="25" height="25" class="circle"> {{hospital}}</div>
          <div class="collapsible-body">
            <span>
                <a class="waves-effect waves-light btn-small" href="{% url 'ba_hos_direct' hospital.id %}">Book Appointment</a>
                <a class="waves-effect waves-light btn-small" href="{% url 'hos_profile' hospital.id %}">View Profile</a>
                <div class="secondary-content row">
                  <div class="col">
                    {{hospital.get_rating}}
                  </div>
                  <div class="col">
                    <i class="material-icons">grade</i>
                  </div>
                </div>
            </span>
          </div>
        </li>
    {% endfor %}
  </ul>  
<!--list ends-->



{% endblock content %}


{% block extra_js %}

<script>
$(".dropdown-trigger").dropdown();
</script>

<script>
  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });
</script> 

<script type="text/javascript" src="{% static 'js/init.js' %}"></script>

<script>
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
</script>

{% endblock extra_js %}





