{% extends 'bbase.html' %}
{% load static %}

{% block extra_css %}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock extra_css %}

{% block title %}Comparison Result{% endblock title %}

<!--python logic-->
{% block content %}

<!--navbar starts-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">WARDAAN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Departments
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% for department in departments %}
                <li><a class="dropdown-item" href="{% url 'particular_department' department.id %}">{{department}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'blogs' %}">Blogs</a>
          </li>
        </ul>
      </div>
      {% if request.user.is_authenticated %}
        <div class="dropdown">
          <a class="btn btn-primary text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            {{user}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% if usertype.doc %}
              <li><a class="dropdown-item" href="{% url 'doc_profile' user.doctor.id %}">View Profile</a></li>
            {% elif usertype.pat %}
              <li><a class="dropdown-item" href="{% url 'pat_profile' user.patient.id %}">View Profile</a></li>
            {% endif %}
            <li><a class="dropdown-item" type="button" class="btn btn-sm text-black dropdown-item" href="{% url 'logout' %}">logout</a></li>
          </ul>
        </div>
      {% else %}
        <a type="button" class="btn btn-primary btn-sm text-white" href="{% url 'login' %}">login</a>
      {% endif %}
    </div>
  </nav>
<!--navbar ends-->


<div class="main-container">
  <section class="pricing-2">
  <div class="container">
    <br>
    <div class="row pricing-tables">
    <div class="col-md-3 no-pad-right hidden-sm">
      <div class="pricing-table feature-list">
      <ul class="features">
        <li><strong>&nbsp;</strong></li>
        <li><strong>Storage Space</strong></li>
        <li><strong>Unique Logins</strong></li>
        <li><strong>Offsite Backup</strong></li>
        <li><strong>Support Hours</strong></li>
        <li><strong>Bandwidth</strong></li>
      </ul>
      </div>
    </div>

    <div class="col-md-3 no-pad hidden-sm">
      <div class="pricing-table">
      <ul class="features">
        <li><strong>{{doc1}}</strong></li>
        {% if doc1.department %}
          <li><strong>{{doc1.department}}</strong></li>
        {% else %}
          <li><strong>NA</strong></li>
        {% endif %}
        {% if doc1.get_degree %}
          <li><strong>{{doc1.get_degree}}</strong></li>
        {% else %}
          <li><strong>NA</strong></li>
        {% endif %}
        {% if doc1.clinic %}
          <li><strong>{{doc1.clinic}}</strong></li>
        {% else %}
          <li><strong>NA</strong></li>
        {% endif %}
        {% if doc1.get_rating %}
          <li><strong>{{doc1.get_rating}}</strong></li>
        {% else %}
          <li><strong>NA</strong></li>
        {% endif %}
        {% if doc1.fees %}
          <li><strong>{{doc1.fees}}</strong></li>
        {% else %}
          <li><strong>NA</strong></li>
        {% endif %}
        {% if doc1.mobile %}
          <li><strong>{{doc1.mobile}}</strong></li>
        {% else %}
          <li><strong>NA</strong></li>
        {% endif %}
        <li><strong>{{doc1.open_time}}-{{doc1.close_time}}</strong></li>
        {% if doc1.get_address %}
          <li><strong>{{doc1.get_address}}</strong></li>
        {% else %}
          <li><strong>NA</strong></li>
        {% endif %}
      </ul>
      <a href="{% url 'book_appointment_doc' doc1.id %}" class="btn btn-primary">Book Appointment</a>
      </div>
    </div>

    <div class="col-md-3 no-pad hidden-sm">
      <div class="pricing-table emphasis">
      <ul class="features">
        <li><strong>Features</strong></li>
        <li><strong>Department</strong></li>
        <li><strong>Degree</strong></li>
        <li><strong>Clinic</strong></li>
        <li><strong>Rating</strong></li>
        <li><strong>Fees</strong></li>
        <li><strong>Mobile</strong></li>
        <li><strong>Timings</strong></li>
        <li><strong>Address</strong></li>
      </ul>
      </div>
    </div>

    <div class="col-md-3 no-pad-left hidden-sm">
      <div class="pricing-table">
      <ul class="features">
        <li><strong>{{doc2}}</strong></li>
        {% if doc2.department %}
          <li><strong>{{doc2.department}}</strong></li>
        {% else %}
          <li><strong>NA</strong></li>
        {% endif %}
        {% if doc2.get_degree %}
          <li><strong>{{doc2.get_degree}}</strong></li>
        {% else %}
          <li><strong>NA</strong></li>
        {% endif %}
        {% if doc2.clinic %}
          <li><strong>{{doc2.clinic}}</strong></li>
        {% else %}
          <li><strong>NA</strong></li>
        {% endif %}
        {% if doc2.get_rating %}
          <li><strong>{{doc2.get_rating}}</strong></li>
        {% else %}
          <li><strong>NA</strong></li>
        {% endif %}
        {% if doc2.fees %}
          <li><strong>{{doc2.fees}}</strong></li>
        {% else %}
          <li><strong>NA</strong></li>
        {% endif %}
        {% if doc2.mobile %}
          <li><strong>{{doc2.mobile}}</strong></li>
        {% else %}
          <li><strong>NA</strong></li>
        {% endif %}
        <li><strong>{{doc2.open_time}}-{{doc2.close_time}}</strong></li>
        {% if doc2.get_address %}
          <li><strong>{{doc2.get_address}}</strong></li>
        {% else %}
          <li><strong>NA</strong></li>
        {% endif %}
      </ul>
      <a href="{% url 'book_appointment_doc' doc2.id %}" class="btn btn-primary">Book Appointment</a>
      </div>
    </div>
    </div>
  </div>
  </section>
</div>

<!--footer-->
  <footer id="footer">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">About Us</h4>
            </div>
            <div class="info-sec">
              <p>When you use our services, you are also helping to bring quality healthcare to the deprived and the underprivileged.
                We invest 20% of our net profits to provide free healthcare to those who cannot afford it.
                Your support makes a huge difference!.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Quick Links</h4>
            </div>
            <div class="info-sec">
              <ul class="quick-info">
                <li><a href="{% url 'home' %}"><i class="fa fa-circle"></i>Home</a></li>
                <li><a href="{% url 'departments' %}"><i class="fa fa-circle"></i>Book Appointment</a></li>
                <li><a href="{% url 'blogs' %}"><i class="fa fa-circle"></i>Write Blogs</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Follow us</h4>
            </div>
            <div class="info-sec">
              <ul class="social-icon">
                <li class="bglight-blue"><a href="https://www.instagram.com/56teekri/"><i class="fa fa-instagram"></a></i></li>
                <li class="bglight-blue"><a href="https://www.facebook.com/56teekri/"><i class="fa fa-facebook"></a></i></li>
                <li class="bglight-blue"><a href="https://www.twitter.com/roohkaapgayi"><i class="fa fa-twitter"></a></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-line">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            © Copyright WARDAAN TEAM
            <div class="credits">
              Designed by <a href="https://www.instagram.com/56teekri/">Sagar Kaushik</a><br>
              Designed by <a href="https://www.facebook.com/ruchit.tiwari.5/">Ruchit Tiwari</a><br>
              Designed by <a href="https://www.instagram.com/pulkitsuryavanshi/">Pulkit Suryavanshi</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!--footer-->


<style type="text/css">
    ul {
    list-style: none;
    padding: 0px;
    }

    .btn {
    background: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    min-width: 155px;
    }

    .btn:hover {
    background: none;
    color: #fff;
    border-color: #3498db;
    background-color: #3498db;
    }

    .btn-primary {
    border-radius: 25px;
    display: inline-block;
    padding: 14px 28px 13px 28px;
    line-height: 1;
    border: 2px solid #3498db;
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3498db;
    }

    .btn-primary.btn-filled {
    background: #3498db;
    color: #fff;
    }

    .btn-white {
    border-color: #fff;
    color: #fff;
    }

    .btn-white:hover {
    background: #fff;
    color: #333333;
    border-color: #fff;
    }

    .btn-white.btn-filled {
    background: #fff;
    color: #e74c3c;
    }

    .btn-grey {
    border-color: #777777;
    color: #333333;
    }

    .pricing-tables .col-md-3:first-child .pricing-table {
    border-radius: 25px 0px 0px 25px;
    }

    .pricing-tables .col-md-3:last-child .pricing-table {
    border-radius: 0px 25px 25px 0px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    }

    .pricing-table {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    padding-bottom: 40px;
    }

    .pricing-table .price {
    padding: 40px 0px;
    font-weight: 600;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    }

    .pricing-table .price .sub {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
    bottom: 10px;
    }

    .pricing-table .price .amount {
    color: #fff;
    font-size: 56px;
    display: inline-block;
    padding: 0px 8px;
    }

    .pricing-table .features {
    margin: 40px 0px;
    }

    .pricing-table .features li {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
    }

    .pricing-table .features li:last-child {
    margin-bottom: 0px;
    }

    .pricing-table .features li strong {
    font-weight: 600;
    }

    .pricing-table.emphasis {
    background-color: #e74c3c;
    }

    .pricing-2 .pricing-tables .col-md-3:first-child .pricing-table {
    border-radius: 25px 0px 0px 25px;
    }

    .pricing-2 .pricing-tables .col-md-3:last-child .pricing-table {
    border-radius: 0px 25px 25px 0px;
    border-right: 2px solid rgba(35, 35, 35, 0.2);
    }

    .pricing-2 .pricing-table {
    border-top: 2px solid rgba(35, 35, 35, 0.2);
    border-bottom: 2px solid rgba(35, 35, 35, 0.2);
    border-left: 2px solid rgba(35, 35, 35, 0.2);
    text-align: center;
    padding-bottom: 40px;
    }

    .pricing-2 .pricing-table .features {
    margin: 0px;
    }

    .pricing-2 .pricing-table .features li:first-child {
    border-top: none;
    }

    .pricing-2 .pricing-table .features li {
    color: #333333;
    border-top: 2px solid rgba(35, 35, 35, 0.2);
    padding: 24px 0px;
    margin: 0;
    }

    .pricing-2 .pricing-table .price {
    border-top: 2px solid rgba(35, 35, 35, 0.2);
    padding-bottom: 24px;
    border-bottom: none;
    }

    .pricing-2 .pricing-table .price .amount {
    color: #333333;
    }

    .pricing-2 .pricing-table .price .sub {
    color: #777777;
    opacity: 0.7;
    }

    .pricing-2 .pricing-table.emphasis {
    background-color: #2c3e50;
    }

    .pricing-2 .pricing-table.emphasis .features li {
    color: #fff;
    background-color: #2c3e50 !important;
    }

    .pricing-2 .pricing-table.emphasis .price .amount,
    .pricing-2 .pricing-table.emphasis .sub {
    color: #fff;
    }

    .pricing-2 .feature-list {
    padding-bottom: 0px;
    }

    .pricing-2 .pricing-table .features li:nth-child(even) {
    background: #f4f4f4;
    }

    .pricing-tables .no-pad {
    padding: 0px 15px;
    }

    .pricing-tables .no-pad-left {
    padding-left: 15px;
    }

    .pricing-tables .no-pad-right {
    padding-right: 15px;
    }

    .pricing-table {
    margin-bottom: 16px;
    border-radius: 25px !important;
    border: 2px solid rgba(255, 255, 255, 0.2) !important;
    }

    .pricing-2 .hidden-sm:first-child {
    display: none;
    }

    .pricing-2 .pricing-table.emphasis .features li {
    border-radius: 25px;
    }

    .pricing-2 .pricing-table .features li:first-child {
    font-size: 24px;
    }

    .pricing-tables .no-pad {
    padding: 0px 15px;
    }

    .pricing-tables .no-pad-left {
    padding-left: 15px;
    }

    .pricing-tables .no-pad-right {
    padding-right: 15px;
    }

    .pricing-table {
    margin-bottom: 30px;
    border-radius: 25px !important;
    border: 2px solid rgba(255, 255, 255, 0.2) !important;
    }
</style>

{% endblock content %}
<!--python ends-->

{% block extra_js %}
{% endblock extra_js %}
