{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor</title>
</head>
<body>
  {% include 'navbar/doc_home_navbar.html' %}
  <!--search doc acc to hospital-->
  <form action="" method="POST">
    {% csrf_token %}
    <div class="input-group container overflow-hidden">
      <input type="text" aria-label="First name" class="form-control" placeholder="Enter your city">
      <input type="text" aria-label="Last name" class="form-control" placeholder="Search doctors">
      <button type="Submit" class="input-group-text">Search</button>
    </div>
  </form>
  <!--search ends-->
  <!--crousel starts-->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://lorempixel.com/100/190/nature/6"  width="1600" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://lorempixel.com/100/190/nature/6" width="1600" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://lorempixel.com/100/190/nature/6" width="1600" height="500" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--crousel ends-->
  <!--list of doctors-->
    <h1><center>Our Doctors</center></h1><br>
  <div class="list-group">
    {% for doc in doctors %}
      <!--doctor card starts-->
      <div class="card container">
        <div class="row">
          <div class="col">
              <div class="col card-image">
                  <img src="https://lorempixel.com/100/190/nature/6" width="250" height="250">
              </div>
          </div>
          <div class="col">
              <div class="col card-body">
                  <h5 class="card-title">{{obj}}</h5>
                  <p class="card-text">DOC With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Book Appointment</a>
              </div>
          </div>
        </div>
      </div>
      <!--card ends-->
    {% endfor %}
</div>
<!--list ends-->
</body>
</html>