{% extends 'bbase.html' %}
{% load static %}

{% block extra_css %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/doclist.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container">
    {% for doctor in doctors %}
        <div class="member-entry"> 
            <a href="#" class="member-img"> 
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-rounded"> 
                <i class="fa fa-forward"></i> 
            </a> 
            <div class="member-details"> 
                <h4> <a href="{% url 'doc_profile' doctor.id %}">{{doctor}}</a> </h4> 
                <div class="row info-list"> 
                    <div class="col-sm-4"> 
                        <i class="fa fa-briefcase"></i>
                            {{doctor.department}}
                    </div> 
                    <div class="col-sm-4"> 
                        <i class="fa fa-phone"></i>
                            {{doctor.mobile}}
                    </div>
                    <div class="clear"></div> 
                    <div class="col-sm-4"> 
                        <i class="fa fa-location-arrow"></i>
                            {{doctor.address}}
                    </div> 
                    <div class="col-sm-4"> 
                        <i class="fa fa-envelope"></i> 
                            {{doctor.email}}
                    </div>
                    <div class="col-sm-4">
                        <a type="button" class="btn btn-primary btn-sm" href="{% url 'book_appointment_doc' doctor.id %}">Book Appointment</a>
                    </div> 
                </div> 
            </div> 
        </div>
    {% endfor %}
</div>

{% endblock content %}




