{% extends 'bbase.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_css.css' %}">
{% endblock extra_css %}

{% block content %}

  <div class="container">
   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">
               <div class="profile-header">
                  <div class="profile-header-cover"></div>
                  <div class="profile-header-content">
                     <!-- BEGIN profile-header-img -->
                     <div class="profile-header-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                     </div>
                     <!-- END profile-header-img -->
                     <!-- BEGIN profile-header-info -->
                     <div class="profile-header-info">
                        <h4 class="m-t-10 m-b-5">{{doctor}}</h4>
                        <p class="m-b-10">{{doctor.department}}</p>
                        <a href="#" class="btn btn-sm btn-info mb-2">Book Appointment</a>
                     </div>
                     <!-- END profile-header-info -->
                  </div>
                  <!-- BEGIN profile-header-tab -->
                  <ul class="profile-header-tab nav nav-tabs">
                    <li class="nav-item"><a href="#profile-about" class="nav-link active show" data-toggle="tab">About</a></li>
                     <li class="nav-item"><a href="#profile-blogs" class="nav-link" data-toggle="tab">Blogs</a></li>
                     <li class="nav-item"><a href="#profile-records" class="nav-link" data-toggle="tab">Records</a></li>
                     <li class="nav-item"><a href="#profile-reviews" class="nav-link" data-toggle="tab">Reviews</a></li>
                  </ul>
                  <!-- END profile-header-tab -->
               </div>
            </div>
            <!-- end profile -->
            
            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">
                  <div class="tab-pane fade" id="profile-about">
                    <div class="row border g-0 rounded">
                      <div class="col p-4">
                        <h3>About</h3>
                        <p>
                          radhe ki bhakti krni hai, dusro ki seva krni hai , parmatma mai mil jaana hai sbko.
                        </p>
                      </div>
                      <div class="col-auto">
                        <img src="{% static 'images/logo.png' %}" class="img-thumbnail dimension">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="profile-blogs">
                    <div class="row border g-0 rounded">
                      <div class="col p-4">
                        <h3>About</h3>
                        <p>
                          radhe ki bhakti krni hai, dusro ki seva krni hai , parmatma mai mil jaana hai sbko.
                        </p>
                      </div>
                      <div class="col-auto">
                        <img src="{% static 'images/logo.png' %}" class="img-thumbnail dimension">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="profile-records">
                    <div class="row border g-0 rounded">
                      <div class="col p-4">
                        <h3>About</h3>
                        <p>
                          radhe ki bhakti krni hai, dusro ki seva krni hai , parmatma mai mil jaana hai sbko.
                        </p>
                      </div>
                      <div class="col-auto">
                        <img src="{% static 'images/logo.png' %}" class="img-thumbnail dimension">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="profile-reviews">
                     <div class="row border g-0 rounded">
                        <div class="col p-4">
                        <h3>About</h3>
                        <p>radhe ki bhakti krni hai, dusro ki seva krni hai , parmatma mai mil jaana hai sbko.</p>
                        </div>
                        <div class="col-auto">
                        <img src="{% static 'images/logo.png' %}" class="img-thumbnail dimension">
                        </div>
                     </div>
                  </div>
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->
         </div>
      </div>
   </div>
  </div>

{% endblock content %}


{% block extra_js %}

{% endblock extra_js %}
