{% extends 'bbase.html' %}
{% load static %}
{% block content %}

<div class="card container">
        <div class="row">
          <div class="col">
              <div class="col card-image">
                  <img src="https://lorempixel.com/100/190/nature/6" width="250" height="250">
              </div>
          </div>
          <div class="col">
              <div class="col card-body">
                  <h5 class="card-title">{{obj}}</h5>
                  <p class="card-text">DOC With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Book Appointment</a>
                  <a href="#" class="btn btn-primary">View Profile</a>
              </div>
          </div>
        </div>
      </div>

{% endblock content %}
