{% extends 'bbase.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}Doctor SignUp{% endblock title %}
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        username: {{uform.username}}<br>
        fname: {{uform.first_name}}<br>
        lname: {{uform.last_name}}<br>
        password: {{uform.password}}<br>
        confirm password: {{uform.confirm_password}}<br>
        department: {{dform.department}}<br>
        degree: {{dform.degree}}<br>
        clinic: {{dform.clinic}}<br>
        <!--hospital: {{dform.hospital}}<br>-->
        email: {{uform.email}}<br>
        mobile: {{dform.mobile}}<br>
        gender: {{dform.gender}}<br>
        clinic open time: {{dform.clinic_open_time}}<br>
        clinic close time: {{dform.clinic_close_time}}<br>
        address: {{dform.address}}<br>
        city: {{dform.city}}<br>
        state: {{dform.state}}<br>
        DOB: {{dform.date_of_birth}}<br>
        <button type="submit">Submit</button>
    </form>

{% endblock content %}